<p id="notice"><%= notice %></p>

<% @tweet_feed.each do |tweet| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <% if tweet.user.avatar.blank? == false %>
      <%= image_tag tweet.user.avatar.url, size:50, class: "user-pic-nav img-circle" %>
      <% end %>
      <%= link_to "@#{tweet.user.username}", show_user_path(id: tweet.user.id) %>
      <span> | </span>
      <span id="time_created"><%= time_ago_in_words tweet.created_at %></span>

      <span class="dropdown tweet-dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <div class="glyphicon glyphicon-chevron-down"></div></a>
        <ul class="dropdown-menu dropdown-menu-right tweet-dropdown">
          <% if tweet.user == current_user %>
          <li><%= link_to 'Edit Tweet', edit_tweet_path(tweet) %></li>
          <li><%= link_to 'Delete Tweet', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <% elsif tweet.user != current_user %>
          <li><%= link_to "Unfollow @#{tweet.user.username}", unfollow_path(id: tweet.user.id) %></li>
          <% end %>
      </ul>
    </span>

    <!-- ***************** Modal ***************** -->
    <%= link_to "View", "#", class: "btn btn-info btn-sm", "data-toggle" => "modal", 'data-target' => "#viewTweetModal-#{tweet.id}" %>
    <!-- Modal -->
    <div class="container">
      <div class="modal fade" id="viewTweetModal-<%= tweet.id %>" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Tweet Viewer</h4>
            </div>
            <div class="modal-body">
              <%= render 'tweets/show_tweet', :@showTweet => tweet %>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ^^^^^^^^^^***************** Modal *****************^^^^^^ -->


    </div> <!-- panel head-->
    <div class="panel-body">
      <p><%= tweet.message %></p>
      </div> <!-- panel body-->
    </div> <!-- panel-->
<% end %>
