<div class="container-fluid">

<div class="col-md-4">

  <div class="panel panel-default user_card">
    <div class ="user-card-header"></div>
    <div class ="user-card-pic-and-stats">
    <% if current_user.avatar.blank? == false %>
    <%= image_tag current_user.avatar.url, size:80, class: "user-pic-nav img-circle avatar avatar_float" %>
    <% end %>
    <div id="user_card_user">
    <%= current_user.username.capitalize %>
    </div>
      <div class="user_card_stats">
        <div class="card_stat">
        <h4>Tweeters</h4>
        <h3><%= current_user.tweets.count %></h3>
        </div>
        <div class="card_stat">
        <h4>Following</h4>
        <h3><%= current_user.following.count %></h3>
        </div>
        <div class="card_stat">
        <h4>Followers</h4>
        <h3><%=@followers.count%></h3>
        </div>
      </div>
    </div>

  </div> <!-- panel-->

<!-- Who to follow-->
    <div class="panel panel-default">
      <div class="well who-to-follow">
      <h4>Who to follow</h4>
      <ul class="list-group">
        <% @users.each do |user| %>
          <% if user == current_user %>
          <% else %>
            <div class="list-group-item">
              <div class="follow-avatar">
              <% if user.avatar.blank? == false %>
              <%= image_tag user.avatar.url, size:50, class: "img-circle" %>
              <% end %>
              </div>
              <div class="follow-user">
              <h5><%= link_to "@#{user.username}", show_user_path(id: user.id) %></h5>
              <% if current_user.following.exclude? user.id.to_i %>
              <%= link_to "Follow", now_following_path(id: user.id), class: "btn btn-sm btn-primary" %>
              <% elsif current_user.following.include? user.id.to_i %>
              <%= link_to "Following", unfollow_path(id: user.id), class: "btn btn-sm btn-info unfollow-btn" %>
              <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
        </div>
      </div> <!-- panel-->
  </div>


  <div class="col-md-8 ">

    <%= render @tweet_feed %>

  </div> <!-- col-->
</div> <!-- container-->
